* {
    margin:0;
    padding:0;
    color:blue;
}

body {
    background: #0f0f0f;
}

#TEXT {
    text-align: center;;
}

label {color:white;}

button {

    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius: 10px; 
    min-height: 30px;
    min-width:120px;
    display:inline-block;
    margin-top:3px;
}

button:hover{ 
    outline-color:transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.7s;
}
button:active {
    background-color:yellow;
}


.tooltip { 
    position:relative;
    display:inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width:120px;
    background-color:#555;
    color:#fff;
    text-align: center;
    border-radius:6px;
    padding:5px 0;
    position:absolute;
    z-index:1;
    bottom:125%;
    left:50%;
    margin-left:-60px;
    opacity:0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position:absolute;
    top:100%;
    left:50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity:1;
}

#questionmark {
    left:0;
    top:0;
    color:white;
}

input {
    color:green;
}