* {
    margin:0;
    padding:0;
    color:blue;
    box-sizing: border-box;

}



body {
    background: #0f0f0f;
    position: relative;
    min-height:100%;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;     
}

#MainText {
    min-width:80%;
    font-size:calc(8px + 0.5vw)
}



#TEXT {
    text-align: center;
    margin-bottom:30px;


}

label {color:white;}

button {
    width: 30%;
    table-layout: fixed;
    border-collapse: collapse;

    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius: 10px; 
    min-height: 30px;
    min-width:120px;

    display:inline-block;
    margin-top:3px;
}

button:hover{ 
    border: 1px solid red;
    outline-color:transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.7s;
}
button:active {
    background-color:yellow;
    color:black;
}


.tooltip { 
    position:relative;
    display:inline-block;

}

textarea {
    font-family: Tahoma, sans-serif;
    overflow: auto;
    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width:120px;
    background-color:#555;
    color:#fff;
    text-align: center;
    border-radius:6px;
    padding:5px 0;
    position:absolute;
    z-index:1;
    bottom:125%;
    left:50%;
    margin-left:-60px;
    opacity:0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position:absolute;
    top:100%;
    left:50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity:1;
}

#questionmark {
    left:0;
    top:0;
    color:white;
}

input {
    color:green;
}

#Tekst-Skopiowany {
    background-color: green;   
    color:white;

}


input {
    background-color:black;
    color:white;

}

input::placeholder {
    color:rgba(255, 255, 255, 0.8)

}


#page-container {
    position:relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom:2.5rem;
}
footer {

    border-top:1px solid;
    background:rgba(150,150,150,0.5);
    min-width:50%;
    min-height:100%;
    padding-top:10px;
    bottom:0px;
    left:0px;
    white-space: nowrap;
    background-color: #24262b;
    padding:70px 0;
    
}

.container {
    max-width:1170px;
    margin:auto;
}

.row {
    display:flex;
    flex-wrap:wrap;
}
ul {
    list-style-type:none;
}

.footer-col {
    width:25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size:18px;
    color: #ffffff;
    text-transform:capitalize;
    margin-bottom:35px;
    font-weight:500;
    position:relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: #e91e63;
    height:2px;
    box-sizing: border-box;
    width:50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size:16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display:block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left:8px;
}

.footer-col .social-links a {
    display:inline-block
}


html::-webkit-scrollbar {
    background-color: black;
    width:8px;
    border-radius:10px;
}

html::-webkit-scrollbar-track {
    border-radius:10px;
    box-shadow:inset 0 0 6px rgba(255,255,255,0.3);
}

html::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border: 2px solid #616161;
    border-radius: 8px;
}

html {
    box-sizing: border-box;
}
  

  

  
/* .menu {

    display: flex;
    align-items: center;
    max-width:50;
    max-height:50px;
    margin: 0 auto;
    list-style: none;

  }
  
  .menu li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
  
    a {
      display:inline;
      font-size: 22px;
      color: #777;
      text-decoration: none;
      transition: all 0.45s;
    }
  
    &:hover {
      
      animation: line 1s;
    }
  
    &:hover a {
      color: #d94f5c;
    }
  
    &:not(:last-child) {
      margin-right:200px;
    }
  }

  @keyframes line {
    0% {
      background-position-x: 390px;
    }
}
.margin {
    display: inline-block;
    border-bottom: 3px solid blue;
    width:100%;
    margin-bottom:20px
}
.margin:before {
    content: '';
    width:10%;
    min-width:100px;
    max-width:200px;
    display:inline-block; 
  
    
} */
/* DO ZMIANY W PRZYSZLOSCI */


/* .pasek {
    border: 1px gray;
    background-color:white;
}


.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-toggle {
        max-width:300px;
        width:50px;
        max-height:40px;
        background-color: white;
        padding:5px;
        display:inline-block;
}
.dropdown  {
    padding:5px;
    border:1px solid #000;
    display:inline-block;
}
.dropdown-content {
    display:none;
    position:absolute;
    background-color: #f9f9f9;
    min-width:16px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding:12px 16px;
    z-index:1;
    min-height:100;
    overflow:auto;
}
.dropdown-content a {
    display:block;
}

.dropdown:hover .dropdown-content {
    display:block;
} */
